// @keyframes ImagemLeft{
//     0%{
//         margin-left: 0;
//         display: block;
//     }
//     99%{
//         display: block;
//     }
//     100%{
//         margin-left: -100vw;
//         display: none;
//     }
// }

// @keyframes ImagemLeftToRight{
//     0%{
//         margin-left: -100vw;
//         display: block;
//     }
//     99%{
//         display: block;
//     }
//     100%{
//         margin-left: 100vw;
//         display: none;
//     }
// }

// @keyframes ImagemRight {
//     0%{
//         margin-left: 0;
//         display: block;
//     }
//     99%{
//         display: block;
//     }
//     100%{
//         margin-left: 100vw;
//         display: none;
//     }
// }

// @keyframes progress{
//     0%{
//         width: 0%;
//     }
//     100%{
//         width: 100%;
//     }
// }

@keyframes abrirMenu{
    0%{
        left: -100vw;
    }
    100%{
        left: 0;
    }
}

@keyframes fecharMenu{
    0%{
        left: 0;
    }
    100%{
        left: -100vw;
    }
}

@keyframes abrirSacola {
    0%{
        right: -100vw;
        display: none;
    }
    100%{
        right: 0;
        display: block;
    }
}

@keyframes fecharSacola {
    0%{
        right: 0;
        display: block;
    }
    100%{
        right: -100vw;
        display: none;
    }
}