@keyframes Imagem1{
    0%{
        left: 0;
        // display: block;
    }
    100%{
        left: -110vw;
        // display: none;
    }
}

@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}