main{
    width: 80%;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    margin: 2rem auto 0;

    > div:first-child{
        width: 100%;
        position: relative;

        figure img{
            width: 60%;
            margin: 0 20%;
        }

        button{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 2px solid var(--lilas-800);
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5%;
            right: .5rem;
            
            span{
                color: var(--lilas-800);
            }

            &#share{
                top: calc(10% + 4.5rem);
            }
        }
    }

    section{
        width: 100%;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;

        h1{
            font-family: var(--title-font);
            font-size: 2rem;
            margin-top: 1.5rem;
        }

        p{
            font-family: var(--text-font);
            font-weight: bold;
            color: var(--lilas-800);
            font-size: 2rem;
            margin: 2.5rem 0 2rem;
        }

        a{
            color: var(--black);
            border-radius: 10px;
            font-family: var(--title-font);
            font-size: 2rem;
            text-align: center;
            padding: 1.2rem;

            &:first-child{
                background-color: var(--lilas-500);
            }

            &:last-child{
                background-color: var(--white);
                border: 2px solid var(--lilas-500);
                margin: 1.5rem 0 3rem;
            }
        }
    }

    > div:last-child button,
    > div:nth-of-type(2) button{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        padding: 0 2rem;

        p{
            font-family: var(--title-font);
            font-size: 1.8rem;
        }

        span{
            color: var(--black);
            transform: rotate(90deg);
        }
    }

    > div:nth-of-type(2){
        position: relative;
    }

    > div:last-child{
        padding-bottom: 2rem;
    }

    #descricao{
        width: 100%;
        background-color: white;
        font-family: var(--title-font);
        font-size: 1.8rem;
        padding: 0 2rem;
        margin: 2rem 0;
    }
}

table{
    width: calc(100% - 4rem);
    margin: 2rem;
    border-collapse: collapse;
    display: none;

    tr{
        border: 1px solid var(--black);
        border-radius: 5px;
        
        td{
            font-family: var(--title-font);
            font-size: 1.8rem;
            text-align: start;
            padding-left: 2rem;
        }
    }

    tr, td{
        padding: 1.5rem 0;
    }
}

.aberto{
    display: block;
}

.aberta{
    display: table;
}

.fechado{
    display: none;
}