section{
    width: 100%;
    padding: 2rem 5% 0;

    ol{
        display: grid;

        li{
            text-align: center;
            align-self: center;

            &:first-child, &:last-child{
                width: 100%;
            }

            &:nth-of-type(2) a, &:nth-of-type(3) a, &:last-child a{
                color: #7b7b7b;
            }

            a{
                width: 100%;
                font-family: var(--title-font);
                font-size: 1.6rem;
                color: var(--black);
            }
        } 

        span{
            align-self: center;
            justify-self: center;
            font-family: var(--title-font);
            font-size: 2rem;
            font-weight: bold;
        }
    }

    #cadastre{
        grid-template-columns: 21.25% 5% 21.25% 5% 21.25% 5% 21.25%;

        a{
            font-size: 1rem;
        }
    }

    #navegacao{
        grid-template-columns: 30% 5% 30% 5% 30%;
    }
}

main{
    width: 80%;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    margin: 2rem 10% 0;
    padding: 2rem;

    h2{
        width: 100%;
        font-family: var(--title-font);
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    form{
        display: flex;
        flex-direction: column;

        label, input{
            font-family: var(--title-font);
        }

        label{
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        > input{
            width: 100%;
            font-size: 2rem;
            background-color: var(--white);
            border: 1px solid var(--black);
            border-radius: 10px;
            margin-bottom: 2rem;
            padding-left: 1rem;
        }

        > div{
            display: flex;
            justify-content: space-around;

            select{
                background-color: var(--lilas-500);
                border-radius: 3px;
                
                &:first-child{
                    width: 40%;
                }

                &:last-child{
                    width: 45%;
                    color: var(--black);
                    margin-left: 7%;
                }
            } 
        }

        .emails, .termos{
            width: 100%;
            justify-content: flex-start;
            align-items: center;

            > input{
                width: 2rem;
                height: 2rem;
            }

            > span, >a{
                width: 85%;
                font-family: var(--title-font);
                font-size: 1.6rem;
                margin-left: 2rem;
            }

            > a{
                text-decoration: underline;
            }

        }

        .emails{
            margin-bottom: 1.5rem;
        }

        > a, button{
            width: 100%;
            background-color: var(--lilas-500);
            font-family: var(--title-font);
            font-size: 2rem;
            color: var(--black);
            text-align: center;
            border-radius: 10px;
            margin-top: 2rem;
            padding: 1rem 0;
        }
    }
}