* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --lilas-100: #d3a6ef;
  --lilas-300: #C58AEA;
  --lilas-500: #9666B4;
  --lilas-800: #5C3575;
  --white: #fff;
  --black: #000;
  --title-font: Rajdhani, sans-serif;
  --text-font: Montserrat, sans-serif;
  /* 10 px */
  font-size: 62.5%;
}

body {
  background-color: #F7F5F8;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 0;
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  color: var(--lilas-800);
}

li {
  list-style: none;
}

@keyframes abrirMenu {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes fecharMenu {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
@keyframes abrirSacola {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
@keyframes fecharSacola {
  0% {
    right: 0;
  }
  100% {
    right: -100vw;
  }
}
.menu-tab {
  display: flex;
  position: absolute;
  top: -10vh;
}
.menu-tab li {
  margin: 0 5vw;
}

nav {
  width: 100vw;
  height: 15vh;
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 10px 1px rgba(88, 9, 150, 0.5);
}
nav menu, nav > div {
  width: 4rem;
  height: 4rem;
  background-color: var(--lilas-300);
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav menu > span {
  font-weight: bold !important;
}
nav a figure svg {
  width: auto;
  height: 8vh;
  margin: 1vh 0;
}

#nav-login {
  display: block;
  position: relative;
}
#nav-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
#nav-login button span {
  font-size: 3rem;
  color: var(--lilas-500);
}
#nav-login a {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu, #menuOpen {
  width: 100vw;
  height: 100vh;
  background-color: #F7F5F8;
  position: absolute;
  top: 0;
  z-index: 1000;
}
#menu header, #menuOpen header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lilas-300);
}
#menu header figure, #menuOpen header figure {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: solid 0.5px #000;
  background-color: var(--lilas-500);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#menu header figure img, #menuOpen header figure img {
  width: auto;
  height: 6.3rem;
}
#menu header div h2, #menuOpen header div h2 {
  font-family: var(--title-font);
  font-size: 1.9rem;
}
#menu header div p, #menuOpen header div p {
  font-family: var(--text-font);
  font-size: 1.3rem;
  font-weight: bold;
}
#menu header span, #menuOpen header span {
  font-size: 3rem;
}
#menu section ul, #menuOpen section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
#menu section ul:last-child, #menuOpen section ul:last-child {
  margin-bottom: 5vh;
}
#menu section ul li, #menuOpen section ul li {
  width: 80%;
  height: 10vh;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 2vh;
}
#menu section ul li a, #menuOpen section ul li a {
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
#menu section ul li a span, #menuOpen section ul li a span {
  font-size: 2.7rem;
}
#menu section ul li a p, #menuOpen section ul li a p {
  font-family: var(--title-font);
  font-size: 1.7rem;
  padding-left: 10vw;
}

#menu {
  left: -100vw;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sacola {
  right: -100vw;
  display: none;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sacola {
  width: 100vw;
  height: 100vh;
  background-color: #F7F5F8;
  position: absolute;
  top: 0;
  z-index: 1001;
}
#sacola header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lilas-300);
}
#sacola header h3 {
  font-family: var(--title-font);
  font-size: 2.1rem;
}
#sacola header span {
  font-size: 3rem;
}
#sacola section.vazia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sacola section.vazia span {
  font-size: 10rem;
  color: var(--lilas-800);
  margin-top: 10vh;
}
#sacola section.vazia h5 {
  font-family: var(--text-font);
  font-size: 2rem;
  margin-top: 3vh;
}
#sacola section.vazia p {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin: 1vh 1rem;
}
#sacola section.cheia > div {
  width: 80%;
  margin: 0 10%;
}
#sacola section.cheia .produtos {
  margin-top: 2rem;
  background-color: var(--white);
  border-radius: 10px;
}
#sacola section.cheia .produtos hr {
  width: 80%;
  height: 2px;
  background-color: var(--lilas-300);
  margin: 0 10% 2rem;
}
#sacola section.cheia #produtoUm, #sacola section.cheia #produtoDois {
  position: relative;
  padding-bottom: 3rem;
}
#sacola section.cheia #produtoUm > div, #sacola section.cheia #produtoDois > div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}
#sacola section.cheia #produtoUm > div img, #sacola section.cheia #produtoDois > div img {
  width: 20%;
  height: auto;
  margin-top: 2rem;
}
#sacola section.cheia #produtoUm > div h4, #sacola section.cheia #produtoDois > div h4 {
  font-family: var(--title-font);
  font-size: 2rem;
  padding-left: 4rem;
}
#sacola section.cheia #produtoUm > div button, #sacola section.cheia #produtoDois > div button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lilas-100);
  border-radius: 5px;
  position: absolute;
  top: 10%;
  right: 3%;
}
#sacola section.cheia #produtoUm > div button span, #sacola section.cheia #produtoDois > div button span {
  font-size: 2rem;
}
#sacola section.cheia #produtoUm > div > div, #sacola section.cheia #produtoDois > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sacola section.cheia #produtoUm > div > div > p, #sacola section.cheia #produtoDois > div > div > p {
  font-family: var(--title-font);
  font-size: 1.6rem;
  margin-top: 1rem;
}
#sacola section.cheia #produtoUm > div > div input, #sacola section.cheia #produtoDois > div > div input {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  background-color: var(--white);
  padding-top: 1rem;
  color: var(--black);
}
#sacola section.cheia #produtoUm > div > div > div, #sacola section.cheia #produtoDois > div > div > div {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
#sacola section.cheia #produtoUm > div:nth-of-type(2), #sacola section.cheia #produtoDois > div:nth-of-type(2) {
  justify-content: space-between;
}
#sacola section.cheia #produtoUm > div:nth-of-type(2) > p, #sacola section.cheia #produtoDois > div:nth-of-type(2) > p {
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--lilas-800);
}
#sacola section.cheia > div:not(.produtos) {
  display: flex;
}
#sacola section.cheia > div:nth-of-type(2) {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem 3rem;
  margin-top: 2rem;
}
#sacola section.cheia > div:nth-of-type(2) p {
  font-family: var(--title-font);
  font-size: 1.8rem;
}
#sacola section.cheia > div:nth-of-type(2) p:first-child {
  margin-right: 1rem;
}
#sacola section.cheia > div:nth-of-type(2) p:last-child {
  font-weight: bold;
  font-size: 2rem;
  color: var(--lilas-800);
  margin-left: 20%;
}
#sacola section.cheia > div:last-child {
  flex-direction: column;
  margin-top: 2rem;
}
#sacola section.cheia > div:last-child button {
  width: 80%;
  font-family: var(--title-font);
  font-size: 2rem;
  background-color: var(--lilas-500);
  border-radius: 10px;
  padding: 1rem 0;
  margin: 0 10%;
}
#sacola section.cheia > div:last-child a {
  font-family: var(--title-font);
  font-size: 1.6rem;
  text-decoration: underline;
  text-align: center;
  color: var(--black);
  padding: 0.5rem 0 3rem;
}

#menuOpen {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sacola.open {
  animation-name: abrirSacola;
  display: block;
}

#sacola.closing {
  animation-name: fecharSacola;
  animation-duration: 1000ms;
  display: block;
}

#sacola.close {
  animation-name: fecharSacola;
  display: none;
}

.formas-de-pagamento, .institucional {
  width: 80vw;
  height: 20vh;
  margin: 0 10vw;
}
.formas-de-pagamento h3, .institucional h3 {
  font-family: var(--title-font);
  font-size: 1.8rem;
  text-align: center;
  margin: 5vh 0 1.5rem;
}
.formas-de-pagamento .cartoes, .institucional .cartoes {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}
.formas-de-pagamento .cartoes img, .institucional .cartoes img {
  width: 6rem;
  height: auto;
  margin: 1rem 1rem 0;
}
.formas-de-pagamento ul li, .institucional ul li {
  margin-top: 1rem;
}
.formas-de-pagamento ul li a, .institucional ul li a {
  font-family: var(--title-font);
  font-size: 1.8rem;
  text-decoration: underline;
  color: var(--black);
}

footer {
  width: 100vw;
  height: auto;
  background-color: var(--lilas-500);
  margin-top: 5vh;
}
footer h1 {
  font-family: var(--title-font);
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
}
footer small {
  display: flex;
  justify-content: center;
}
footer small span {
  font-family: var(--title-font);
  color: var(--black);
}
footer small span:first-child {
  font-size: 1rem;
}
footer small span:last-child {
  padding-bottom: 1rem;
}

/*# sourceMappingURL=global.css.map */
