* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --lilas-300: #C58AEA;
  --lilas-500: #9666B4;
  --lilas-800: #5C3575;
  --white: #fff;
  --black: #000;
  --title-font: Rajdhani, sans-serif;
  --text-font: Montserrat, sans-serif;
  /* 10 px */
  font-size: 62.5%;
}

body {
  background-color: #F7F5F8;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 0;
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  color: var(--lilas-800);
}

li {
  list-style: none;
}

@keyframes abrirMenu {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes fecharMenu {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
@keyframes abrirSacola {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
@keyframes fecharSacola {
  0% {
    right: 0;
  }
  100% {
    right: -100vw;
  }
}
.menu-tab {
  display: flex;
  position: absolute;
  top: -10vh;
}
.menu-tab li {
  margin: 0 5vw;
}

nav {
  width: 100vw;
  height: 15vh;
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 10px 1px rgba(88, 9, 150, 0.5);
}
nav menu, nav > div {
  width: 4rem;
  height: 4rem;
  background-color: var(--lilas-300);
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav menu > span {
  font-weight: bold !important;
}
nav figure svg {
  width: auto;
  height: 8vh;
  margin: 1vh 0;
}

#nav-login {
  display: block;
  position: relative;
}
#nav-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
#nav-login button span {
  font-size: 3rem;
  color: var(--lilas-500);
}
#nav-login a {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu, #menuOpen {
  width: 100vw;
  height: 100vh;
  background-color: #F7F5F8;
  position: absolute;
  top: 0;
  z-index: 1000;
}
#menu header, #menuOpen header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lilas-300);
}
#menu header figure, #menuOpen header figure {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: solid 0.5px #000;
  background-color: var(--lilas-500);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#menu header figure img, #menuOpen header figure img {
  width: auto;
  height: 6.3rem;
}
#menu header div h2, #menuOpen header div h2 {
  font-family: var(--title-font);
  font-size: 1.9rem;
}
#menu header div p, #menuOpen header div p {
  font-family: var(--text-font);
  font-size: 1.3rem;
  font-weight: bold;
}
#menu header span, #menuOpen header span {
  font-size: 3rem;
}
#menu section ul, #menuOpen section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
#menu section ul:last-child, #menuOpen section ul:last-child {
  margin-bottom: 5vh;
}
#menu section ul li, #menuOpen section ul li {
  width: 80%;
  height: 10vh;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 2vh;
}
#menu section ul li a, #menuOpen section ul li a {
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
#menu section ul li a span, #menuOpen section ul li a span {
  font-size: 2.7rem;
}
#menu section ul li a p, #menuOpen section ul li a p {
  font-family: var(--title-font);
  font-size: 1.7rem;
  padding-left: 10vw;
}

#menu {
  left: -100vw;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sacola {
  right: -100vw;
  display: none;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sacola {
  width: 100vw;
  height: 100vh;
  background-color: #F7F5F8;
  position: absolute;
  top: 0;
  z-index: 1001;
}
#sacola header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lilas-300);
}
#sacola header h3 {
  font-family: var(--title-font);
  font-size: 2.1rem;
}
#sacola header span {
  font-size: 3rem;
}
#sacola section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sacola section span {
  font-size: 10rem;
  color: var(--lilas-800);
  margin-top: 10vh;
}
#sacola section h5 {
  font-family: var(--text-font);
  font-size: 2rem;
  margin-top: 3vh;
}
#sacola section p {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin: 1vh 1rem;
}

#menuOpen {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#sacola.open {
  animation-name: abrirSacola;
  display: block;
}

#sacola.closing {
  animation-name: fecharSacola;
  animation-duration: 1000ms;
  display: block;
}

#sacola.close {
  animation-name: fecharSacola;
  display: none;
}

/*# sourceMappingURL=global.css.map */
