main{
    width: 80vw;
    height: auto;
    border-radius: 13px 13px 0 0;
    background-color: var(--white);
    margin: 5vh auto;
    position: relative;
    
    & > *{
        padding: 0 2rem;
    }

    h1{
        font-family: var(--title-font);
        font-size: 2.3rem;
        padding-top: 1rem;
    }

    section form{

        & > *{
            margin-top: 2rem;
        }

        div{
            display: flex;
            align-items: center;
    
            h2{
                font-family: var(--title-font);
                font-size: 1.8rem;
                margin-left: 1rem;
            }

            input{
                width: 2rem;
                height: 2rem;

            }

        }
        > input{
            width: 100%;
            height: 2.3rem;
            font-size: 1.8rem;
            font-family: var(--title-font);
            border: 1px solid var(--black);
            border-radius: 5px;
            padding: 1.3rem;
        }

        button{
            width: 100%;
            height: 2.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--lilas-500);
            border-radius: 5px;
            font-size: 1.8rem;
            font-family: var(--title-font);
        }

    }

    section{

        width: 80vw;
        position: absolute;
        padding: 0 2rem;
        
        &#cadastrar{
            padding-bottom: 2rem;
            background-color: var(--white);
            top: 100%;
            // z-index: 20;
            z-index: 5;
        }

        &#login{
            margin-top: 1rem;
            z-index: 10;
        }

        &.login-check{
            background-color: var(--lilas-100);
            border-radius: 13px 13px 0 0;
            top: 210%;

            button{
                margin-bottom: 2rem;
            }
        }

        &.login-desabilitado{
            background-color: var(--white);
            border-radius: 0 0 13px 13px;
            top: 450%;

            button{
                background-color: transparent;
                color: transparent;
                
            }
        }

    }

    
       

    p{
        font-family: var(--text-font);
        font-weight: bold;
        font-size: 1.5rem;
        padding: 3rem 2rem;
        border-radius: 0 0 10px 10px;
        position: absolute;
        z-index: 15;

        a{
            text-decoration: underline;
            color: var(--black);
        }

        &.habilitado{
            background-color: var(--lilas-100);
            top: 750%;
        }

        &.desabilitado{
            background-color: var(--white);
            top: 600%;
        }
    }
}

